@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {
  .container-xs {
    @apply w-full mx-auto max-w-[77.63rem];
  }
}

footer p {
  font-size: small;
  padding-top: 1rem;
}